<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="all-tests" verbose="1">

  <test name="core">
  	<parameter name="browser" value="firefox"/>
    <classes>
       <class name="org.wiselenium.core.test.WiseTestNGTest" />
    </classes>
  </test>
  
  <test name="github">
    <classes>
       <class name="org.wiselenium.core.test.example.GitHubExample" />
    </classes>
  </test>
  
</suite>
